
body {
    font-family:  monospace;
    text-align: center;
    background: #f4f4f4;
    color: #000;
    transition: background 0.3s, color 0.3s;
}

h1 {
    margin-top: 40px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

input {
    padding: 19px;
    width: 200px;
    color: #222;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input::placeholder {
    color: #888;
}

select {
    padding: 12px;
}

button {
    padding: 12px 16px;
    cursor: pointer;
}

ul {
    padding: 0;
}

li {
    background: #787878;
    margin: 10px auto;
    padding: 12px;
    list-style: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #fff;
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.done {
    text-decoration: line-through;
    opacity: 0.6;
}

.delete-btn {
    font-size: 12px;
    padding: 4px 8px;
    margin-left: 10px;
}

.signature {
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-size: 16px;
    color: #000;
    font-family: monospace;
    opacity: 0.7;
}

body.dark {
    background-color: #222;
    color: #f4f4f4;
}

body.dark input {
    background-color: #333;
    color: #f4f4f4;
    border: 1px solid #555;
}

body.dark input::placeholder {
    color: #aaa;
}

body.dark button {
    background-color: #555;
    color: #f4f4f4;
}

body.dark li {
    background: #444;
}

body.dark .signature {
    color: white;
}


